/* 
Notes:
font-family: Specify font
color: Text color

Best practice:
- We never use IDs in real world webpages.
- We did not assign different color for <a> and a:visited
*/


/* Universal Selector */
/* Applies to all elements */
* {
    /* border-top: 10px solid #1090ad;  */
    /* Notice: Commonly used */
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1090ad;
    margin: 0;
    position: relative;
}



.container {
    width: 825px;
    margin: 0 auto;
    /* position: relative; */
}

.main-header {
    background-color: #f7f7f7;
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px;
    margin-bottom: 60px;
    /* height: 80px; */
}

/* Inheritance */

/* nav a:link,
nav p {
    font-size: 18px;
} */

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}


.post-header {
    margin-bottom: 40px;
    /* position: relative; */
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1090ad;
    border-bottom: 5px solid #1090ad;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;
    width: 500px;
}

h1,
h2,
h3 {
    color: #1090ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    /* 1.5 = 1.5 x font-size value */
    line-height: 1.5;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
    /* display: inline; */
}

li:last-child {
    margin-bottom: 0;
}


/* article header p {
    font-style: italic;
} */

#author {
    font-style: italic;
}

/* footer p {
    font-size: 16px;
} */

#copyright {
    font-size: 16px;
}


.related-author {
    font-size: 18px;
    font-weight: bold;
}


/* Challenge: Remove the first dot on first element. */
.related {
    list-style: none;
}


/* body {
    background-color: #f7f7f7;
} */


/* .first-li {
    font-weight: bold;
} */

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

/* li:nth-child(even) {
    color: red;
} */


/* Notice: This won't work */
/* article p:last-child {
    color: red;
} */


/* Styling links */


/* <a> with "href" attribute */
a:link {
    color: #1090ad;
    text-decoration: none;
}

a:visited {
    /* color: #777; */
    color: #1090ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}


/* :active on clicking */
a:active {
    background-color: black;
    font-style: italic;
}

.post-img {
    width: 100%;
    /* We did this because we already specified the height in HTML*/
    height: auto;
}

nav a:link {
    /* background-color: orangered;
    padding: 20px 40px;
    margin-bottom: 20px;
    display: block; */
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

nav a:link:last-child {
    margin-right: 0;
    margin-right: 5px;
}

button {
    font-size: 22px;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    /* top: 50px;
    left: 60px; */
    bottom: 50px;
    right: 50px;
}

h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}


/* h2::first-letter {
    font-size: 80px;
} */

/* p::first-line {
    color: red;
} */

/* h3 + p::first-line {
    color: red;
} */

h2 {
    position: relative;
}

h2::after {
    /* Notice: We have to define a content even if it an empty string */
    content: "TOP";
    color: #444;
    background-color: #ffe70e;
    font-size: 16px;
    font-weight: bold;    
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -25px;
}


/* Resolving conflict */

/* #copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green;
} */